@import '../styles/variables.scss';

.contrata-content{
    animation: move 1s ease-in-out
}
.contrata-publicidad{
    width: 100%;
    min-height: 674px;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: bottom!important;
    padding:132px 121px;
    .contrata-text{
        font: normal normal normal 50px/61px Roboto;
        span{
            font: normal normal 900 50px/61px Roboto;
        }
        p{
            font: normal normal bold 30px/37px Roboto;
        }
        .contrata-text__precio{
            font: normal normal bold 30px/37px Roboto;
            padding: 15px 59px 15px 12px;
            box-shadow: 0px 12px 25px #2424241A;
            display: inline-block;
            margin-right: 50%;
            span{
                font: normal normal bold 37px/37px Roboto;
            }
        }

        .btn-blue{
            margin-top: 59px;
            margin-bottom: 15px;
            border: none;
            border-radius: 4px;
            background-color: $color-blue;
            color: $color-white;
            text-align: center;
            font: normal normal bold 17px/20px Roboto;
            letter-spacing: 0.42px;
            height: 58px;
            width: 243px;
        }
    }
    .contrata{
        display: flex;
        justify-content: flex-end;
    }
    .contrata-card{
        width: 320px;
        min-height: 111px;
        border-radius: 23px;
        background-color: $color-white;
        .contrata-card__tittle{
            background-color: $color-blue;
            border-top-left-radius: 23px;
            border-top-right-radius: 23px;
            padding: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font: normal normal bold 16px/18px Arial;
                letter-spacing: 0px;
                color: $color-white;
                font-weight: bold;
                margin: 0;
            }
        }

        .contrata-card__body{
            display: flex;
            flex-direction: column;
            align-items: center;

            .text-title{
                margin-top: 11px;
                width: 165px;
                color: $color-blue;
                font: normal normal bold 14px/16px Arial;
                letter-spacing: 0px;
            }

            .text-subtitle{
                font-family: Arial;
                font-size: 9px;
                margin: 0;
            }

            .contrata-card__form{
                width: 80%;
                .input-phone{
                    width: 100%;
                    margin-top: 12px;
                }
                .input-form-checkbox{
                    display: flex;
                    align-content: center;
                    margin-top: 11px;
                }
                .input-phone::placeholder{
                    font-family: Arial;
                    font-size: 12px;
                }
                .input-checkbox{
                    margin-left: 2px;
                    font: normal normal bold 9px/10px Arial;
                    color: $color-input-gray;
                }
                button{
                    width: 100%;
                    height: 46px;
                    border-radius: 3px;
                    border: none;
                    font: normal normal bold 17px/20px Roboto;
                    color: $color-white;
                    background-color: $color-orange;
                    margin-bottom: 32px;
                    margin-top: 13px;
                }
            }
        }
    }
}

.section-paquetes{
    margin-top: 38px;
    width: 100%;
    min-height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed!important;
    background-position: bottom!important;
    background-repeat: no-repeat!important;
    background-size:100% 15%!important;
    button{
        position: relative;        
        border: 3px solid $color-white;
        border-radius: 4px;
        background-color: $color-blue;
        color: $color-white;
        text-align: center;
        font-family: "Roboto";
        font: normal normal bold 17px/20px "Roboto";
        letter-spacing: 0.42px;
        opacity: 1;
        height: 58px;
        width: 243px;
        margin-left: 157px;    
    }
}

.section-paquetes:before {
	content:'';
    min-height: 132px;
    width: 100%;
    position: absolute;
	background-color: rgba(0,0,0,0.6);
    transition: all 0.5s ease-in-out;
}
.container-card__paquete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (max-width: 928px){
    .section-paquetes{
        background-size: 100% 15% !important;
    }

    

    .section-paquetes button{
        margin-left: 25px;
    }

    .contrata-publicidad .contrata-text span{
        font: normal normal 900 40px Roboto;
    }
    .contrata-publicidad{
        padding: 100px 50px;
    }

    .contrata-publicidad .contrata-text .contrata-text__precio{
        margin-right: 10%;
    }
}

@media (max-width: 628px){
    
    .contrata-publicidad .contrata-text .contrata-text__precio{
        margin-right: 0;
    }

    .contrata-publicidad .contrata{
        justify-content: flex-start;
    }

    .contrata-publicidad{
        padding: 100px 20px;
    }

    .contrata-publicidad .contrata-card{
        width: 100%;
        box-shadow: 0px 12px 25px #2424241a;
    }

    .contrata-publicidad .contrata-text p{
        font: normal normal bold 20px Roboto;
    }

    .contrata-publicidad .contrata-text span{
        font: normal normal bold 30px Roboto;
    }

    .contrata-publicidad .contrata-text .btn-blue{
        width: 100%;
    }

    .section-paquetes button{
        margin: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .section-paquetes{
        flex-direction: column;
    }

    .section-paquetes:before{
        min-height: 150px; 
    }

    

    .contrata-publicidad .contrata-card .contrata-card__body .text-subtitle{
        font-size: 12px;
        font-weight: bold;
    }
    
}

@keyframes move {
    0% {
        transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.btn-blue:hover{
    animation: sorpresa 0.5s ease-in-out
}

@keyframes sorpresa {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  .btn-callme:hover{
    animation: callMe 1.3s ease-in-out
  }
  @keyframes callMe {
    0% {
      transform: scale(1);
    }
  
    14% {
      transform: scale(1.3);
    }
  
    28% {
      transform: scale(1);
    }
  
    42% {
      transform: scale(1.3);
    }
  
    70% {
      transform: scale(1);
    }
  }


