@import '../styles/variables.scss';

.notFound-image{
    height: 676px;
    width: 100%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .notFound-content{
        color: $color-white;
        position: relative;
        text-align: center;
        p:first-child{
            text-align: center;
            font: normal normal bold 80px/96px Roboto;
        }

        p:nth-child(2){
            font: italic normal normal 80px/96px Roboto;
        }

        button{
            margin-top: 43px;
            border: 3px solid $color-white;
            border-radius: 4px;
            background-color: $color-blue;
            color: $color-white;
            text-align: center;
            font-family: "Roboto";
            font: normal normal bold 17px/20px "Roboto";
            letter-spacing: 0.42px;
            opacity: 1;
            height: 58px;
            width: 319px;
        }
    }
}

.notFound-image:before {
    content:'';
    height: 676px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.5s ease-in-out;
}

.notFound-info{
    margin-top: 43px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .notFound-info__text{
        text-align: center;
        width: 70%;
        font: normal normal normal 22px/27px Roboto;
        min-height: 95px;
        span{
            font: normal normal bold 22px/27px Roboto;
            color: $color-blue;
        }
    }
    .notFound-info__icons{
        margin-top: 20px;
        width: 90%;
        padding: 0px 0px 0px 20px;
        display:flex;
        flex-wrap: wrap;
        .icons{
            display: flex;
            flex-direction: column;
            margin-right: 69px;
            align-items: center;
            img{
                width: 99px;
                height: 99px;
            }
            p{
                margin-top: 21px;
                font: normal normal normal 18px/22px Roboto;
            }
        }
    }
}

.contact{
    width: 100%;
    min-height: 76px;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
    flex-wrap: wrap;
    .contact_info{
        display: flex;
        flex-wrap: wrap;
        img{
            width: 40px;
            height: 27px!important;
            margin-left: 10px;
            margin-right: 10px;
        }
        span{
            font: normal normal normal 18px/22px Roboto;
            color: $color-white;
        }
    }
}

.help{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // width: 70%;
    font: normal normal normal 22px/27px Roboto;
    min-height: 95px;
    span{
        font: normal normal bold 22px/27px Roboto;
        color: $color-blue;
    }

    .home-button-orange{
        border: 3px solid $color-orange;
        border-radius: 4px;
        background-color: $color-white;
        color: $color-orange;
        text-align: center;
        font-family: "Roboto";
        font: normal normal bold 17px/20px "Roboto";
        letter-spacing: 0.42px;
        opacity: 1;
        height: 58px;
        width: 319px;
    }
}

